<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="html(content, title)">
<head>
    <title th:text="${title}">Document System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}" />
</head>

<body>
<div class="container">
    <!-- Navigation bar -->
    <!--/*@thymesVar id="user" type="java"*/-->
    <div class="navbar">
        <div class="navbar-links">
            <!--/*@thymesVar id="requestURI" type="java"*/-->
            <a th:href="@{/}" th:classappend="${requestURI == '/' ? 'active' : ''}">Home</a>

            <a th:if="${user != null and user.hasAuthority('DOCUMENT:READ')}"
               th:href="@{/documents}"
               th:classappend="${requestURI == '/documents' ? 'active' : ''}">Document List</a>

            <a th:if="${user != null and user.hasAuthority('DOCUMENT:WRITE')}" th:href="@{/documents/create}" th:classappend="${requestURI == '/documents/create' ? 'active' : ''}">Create Document</a>
            <a th:if="${user != null and user.hasRole('ADMIN')}" th:href="@{/admin}" th:classappend="${requestURI == '/admin' ? 'active' : ''}">Dashboard Admin</a>
        </div>
        <div class="navbar-links">
            <span th:if="${user != null}" th:text="'Hello ' + ${user.username}" class="navbar-user-info"></span>
            <a th:href="@{/logout}" th:if="${user != null}">Logout</a>
            <a th:href="@{/login}" th:if="${user == null}">Login</a>
        </div>
    </div>

    <hr/>

    <div th:replace="${content}">DEFAULT BODY</div>
</div>
</body>
</html>